<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WOODIES</title>
	 <link rel="icon" type="image/x-icon" href="./assets/favico/268153858_963896227874138_8988487534715679962_n.png">
	<link rel="stylesheet" href="assets/css/main.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="./assets/scss/foundation/foundation.css">
	<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div class="wroth">
		<header>
			<div class="header mobile-container">
				<nav>
					 <div class="topnav nav grid-x">
						<a class="logo" href="#woodien"><img src="./assets/img/logo.png" alt=""></a>
						<div class="topnav-item grid-x">
							<div class="myLinks myLinksBurger" id="myLinks">
								<a class="topnav-link yell" href="#home">Home</a>
								<a class="topnav-link" href="#about">About Us</a>
								<a class="topnav-link" href="#how">How it works</a>
								<a class="topnav-link" href="#categoris">Categories</a>
								<a class="topnav-link" href="#testimony">Testimony</a>
								<a href="#sign" class="topnav-btn"><span class="topnav-btn-sign">SIGN UP</span></a>
							</div>
							<a  class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
						</div>
						
					</div>
				</nav>
			</div>
		</header>
		<div class="main ">
			<div class="main-item">
				<p class="main-item-title">Are you looking for <span>woodden furniture</span> for your place?</p>
				<p class="main-item-description">This is the Right Place</p>
				<a href="#furniture" class="main-item-btn"><span class="main-item-btn-text">Explore Furniture</span></a>
			</div>
			<div class="main-image">
				<img class="img" src="./assets/img/Group 23.png" alt="">
			</div>
		</div>
	</div>
	<div class="conteiner">
		<div class="conteiner-title">
			<img src="./assets/icon/Group 28.png" alt="">
			<p class="conteiner-title-name">Who we are</p>
			<img src="./assets/icon/Line 1.png" alt="">
			<p class="conteiner-title-about">ABOUT US</p>
		</div>
		<div class="conteiner-description">
			<div class="conteiner-description-image">
				<img src="./assets/img/Group 31.png" alt="">
			</div>
			<div class="conteiner-description-item">
				<p class="conteiner-description-item-title">WOODIES<span>is the</span>home of modern wooden furniture
				</p>

				<p class="conteiner-description-text">the answer to your need for furniture with shapes, sizes and
					colors. </p>
			</div>
		</div>
		<div class="conteiner-wroth">
			<div class="conteiner-wroth-item">
				<p class="conteiner-wroth-item-title"><span>Customized furniture made</span> just for you</p>
				<p class="conteiner-wroth-item-text">Get it easy to adjust furniture to the shape and size of your
					dwelling or business. </p>
			</div>
			<img class="spoon"
				src="./assets/img/Script-Online-Ado-Beech-Steel-Spoon-Set-Of-3-52151704SD00001-PDP-Gallery-D-01 1.png"
				alt="">

		</div>
	</div>
	<div class="custom">
		<div class="conteiner-title">
			<img src="./assets/icon/Group 28.png" alt="">
			<p class="conteiner-title-name">How to custom</p>
			<img src="./assets/icon/Line 1.png" alt="">
			<p class="conteiner-title-about">HOW IT WORKS</p>
		</div>
		<div class="custom-item grid-x">
			<div class="custom-item-image">
				<img src="./assets/icon/Group 45.png" alt="">
			</div>
			<div class="custom-item-image">
				<img src="./assets/icon/Group 46.png" alt="">
			</div>
			<div class="custom-item-image">
				<img src="./assets/icon/Group 47.png" alt="">
			</div>
			<div class="custom-item-image">
				<img src="./assets/icon/Group 48.png" alt="">
			</div>
		</div>
		<form method="post">
			<button type="submit" class="custom-btn">
				<a class="custom-btn-link" href="#get">Get Personalized Now</a>
			</button>
		</form>
	</div>
	<div class="categories">
		<div class="conteiner-title">
			<img src="./assets/icon/Group 28.png" alt="">
			<p class="conteiner-title-name">What we have</p>
			<img src="./assets/icon/Line 1.png" alt="">
			<p class="conteiner-title-about">CATEGORIES</p>
		</div>
		<div class="categories-item grid-x">
			<img class="categories-item-img" src="./assets/img/Group 19.png" alt="">
			<img class="categories-item-img" src="./assets/img/Group 20.png" alt="">
			<img class="categories-item-img" src="./assets/img/Group 2.png" alt="">
			<img class="categories-item-img" src="./assets/img/Group 1.png" alt="">
			<img class="categories-item-img" src="./assets/img/Group 18.png" alt="">
		</div>
	</div>
	<div class="test">
		<div class="conteiner-title">
			<img src="./assets/icon/Group 28.png" alt="">
			<p class="conteiner-title-name">How to custom</p>
			<img src="./assets/icon/Line 1.png" alt="">
			<p class="conteiner-title-about">ABOUT US</p>
		</div>
	</div>	
		<!-- Slider main container -->
	<div class="swiper">
	<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
	  <!-- Slides -->
	  		<div class="swiper-slide">
				<div class="swiper-cont">
					<div class="swiper-cont-image">
						<img class="radius" src="./assets/img/apartment-bed-bedroom-271624 1.png" alt="">
						<img class="radius" src="./assets/img/breakfast-contemporary-daylight-154161 1.png" alt="">
					</div>
					<div class="swiper-cont-box">
						<img src="./assets/icon/Group 55.png" alt="" class="stars">
						<p class="swiper-cont-box-discliption">My experience with WOODIES is a complete success, from customed furniture, range of product, modern design, purchasing experience, the delivery and newsletter. Litterally everything is great. Thank you!</p>
						<div class="swiper-cont-box-logo">
							<img class="women" src="./assets/icon/woman-taking-selfie-while-smiling-1310522 1.png" alt="">
							<p class="name">Sandra Dewi Jakarta Selatan</p>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="swiper-cont">
					<div class="swiper-cont-image">
						<img class="radius" src="./assets/img/apartment-bed-bedroom-271624 1.png" alt="">
						<img class="radius" src="./assets/img/breakfast-contemporary-daylight-154161 1.png" alt="">
					</div>
					<div class="swiper-cont-box">
						<img src="./assets/icon/Group 55.png" alt="" class="stars">
						<p class="swiper-cont-box-discliption">
							My experience with WOODIES is a complete success, from customed furniture, range of product, modern design, purchasing experience, the delivery and newsletter. Litterally everything is great. Thank you!
						</p>
						<div class="swiper-cont-box-logo">
							<img class="women" src="./assets/icon/woman-taking-selfie-while-smiling-1310522 1.png" alt="">
							<p class="name">Sandra Dewi Jakarta Selatan</p>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="swiper-cont">
					<div class="swiper-cont-image">
						<img class="radius" src="./assets/img/apartment-bed-bedroom-271624 1.png" alt="">
						<img class="radius" src="./assets/img/breakfast-contemporary-daylight-154161 1.png" alt="">
					</div>
					<div class="swiper-cont-box">
						<img src="./assets/icon/Group 55.png" alt="" class="stars">
						<p class="swiper-cont-box-discliption">
							My experience with WOODIES is a complete success, from customed furniture, range of product, modern design, purchasing experience, the delivery and newsletter. Litterally everything is great. Thank you!
						</p>
						<div class="swiper-cont-box-logo">
							<img class="women" src="./assets/icon/woman-taking-selfie-while-smiling-1310522 1.png" alt="">
							<p class="name">Sandra Dewi Jakarta Selatan</p>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="swiper-cont">
					<div class="swiper-cont-image">
						<img class="radius" src="./assets/img/apartment-bed-bedroom-271624 1.png" alt="">
						<img class="radius" src="./assets/img/breakfast-contemporary-daylight-154161 1.png" alt="">
					</div>
					<div class="swiper-cont-box">
						<img src="./assets/icon/Group 55.png" alt="" class="stars">
						<p class="swiper-cont-box-discliption">
							My experience with WOODIES is a complete success, from customed furniture, range of product, modern design, purchasing experience, the delivery and newsletter. Litterally everything is great. Thank you!
						</p>
						<div class="swiper-cont-box-logo">
							<img class="women" src="./assets/icon/woman-taking-selfie-while-smiling-1310522 1.png" alt="">
							<p class="name">Sandra Dewi Jakarta Selatan</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- If we need pagination -->
		<div class=" round swiper-pagination"></div>
	
		<!-- If we need navigation buttons -->
	
  
	<!-- If we need scrollbar -->
		
  	</div>
	<footer>
		<div class="footer">
			<div class="subscribe">
					<div class="p">
						<p class="subscribe-item">Subscribe to our newsletter</p>
						<p class="p-2">monthly digest of the new WOODIES products, hot offers, and resources.</p></div>
				  <div class="subscribe-input">
					<form method="post">
						<input id="myInput" class="input" name="email" placeholder="Your email address" type="text">
						<button type="submit" class="subscrine-btn">Subscribe</button>
					 </form>
				  </div>
			</div>
			<div class="footer-item">
		 		<img class='line-5' src="./assets/icon/Line 5.png" alt="">
				<div class="footer-item-box">
					<div class="footer-item-box-logo">
						<img class="wod" src="img/logo.png" alt="">
						<a class="footer-link" href="">(012) 8967453</a>
						<a class="footer-link" href="">woodies@gmail.com</a>
						<a class="footer-link" href="">Jakarta, Indonesia</a>
					</div>
					<div class="footer-item-box-col">
						<p class="footer-item-col-title">Product</p>
						<a class="footer-link" href="">Furnitures</a>
						<a class="footer-link" href="">Packages</a>
						<a class="footer-link" href="">Services</a>
						
					</div>
					<details style="display: none;">
						<summary >Product</summary>
						<a class="footer-link" href="">Furnitures</a>
						<a class="footer-link" href="">Packages</a>
						<a class="footer-link" href="">Services</a>
					</details>
					<div class="footer-item-box-col">
						<p class="footer-item-col-title">Product</p>
						<a class="footer-link" href="">Furnitures</a>
						<a class="footer-link" href="">Packages</a>
						<a class="footer-link" href="">Services</a>
					</div>
					<details style="display: none;">
						<summary>Product</summary>
						<a class="footer-link" href="">Furnitures</a>
						<a class="footer-link" href="">Packages</a>
						<a class="footer-link" href="">Services</a>
					</details>
					<div class="footer-item-box-col">
						<p class="footer-item-col-title">Product</p>
						<a class="footer-link" href="">Furnitures</a>
						<a class="footer-link" href="">Packages</a>
						<a class="footer-link" href="">Services</a>
					</div>
					<details style="display: none;">
						<summary>Product</summary>
						<a class="footer-link" href="">Furnitures</a>
						<a class="footer-link" href="">Packages</a>
						<a class="footer-link" href="">Services</a>
					</details>
					<div class="footer-item-box-col">
						<p class="footer-item-col-title">Product</p>
						<a class="footer-link" href="">Furnitures</a>
						<a class="footer-link" href="">Packages</a>
						<a class="footer-link" href="">Services</a>
					</div>
					<details style="display: none;">
						<summary>Product</summary>
						<a class="footer-link" href="">Furnitures</a>
						<a class="footer-link" href="">Packages</a>
						<a class="footer-link" href="">Services</a>
					</details>
				</div>
			</div>
		</div> 

	
	</footer>
	<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
	<script src="./assets/js/script.js"></script>
	
</body>

</html> 